/* Estilo body generales */
body{
    display: flex;
    flex-direction: column;
    background-color:white;
    color: black;
    font: 10px sans-serif;
    width: 100%;
    margin: 0px;
}

html {
    margin: 0px;
}

/* Estilos objetos del HEADER */
header {
    display: flex;
    align-items: center;
    background-color:#1e1d1d;
    color: whitesmoke;
    font-size: 4em;
}

header > h2, header > p {
    padding-right: 0.5em;
    margin: 10px 10px 10px 10px;
}

nav {
    display: flex;
    background-color:#00659d;
    font-size: 1.5em;
}

/* Estilos objetos de la barra de NAVEGACIÓN */
nav > div {
    padding: 1em;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bold;
}

nav > div:hover {
    background-color: #003152;
}


/* Estilos objetos de main en CONTACTO */

#contacto_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* FORMULARIO */
#div_form {
    background-color: #95b9cc;
    width: 100%;
    padding: 10px;
    border-style: hidden;
}

input, textarea {
    font-family: sans-serif;
    border: 0px;
    border-radius: 3px;
    padding: 5px;
    color: gray;
    width: 98%;
    margin: 5px;
}

#div_form > legend {
    font-weight: bold;
}

/* DIRECCION */
#div_direc {
    background-color: whitesmoke;
    width: 70%;
    height: 450px;
    padding: 10px;
}

#div_direc > img {
    width: 100%;
    max-height: 100%;
}

/* MAPA */
#div_map {
    background-color: whitesmoke;
    width: 25%;
    height: 450px;
    padding: 10px;
}

#div_map > iframe {
    width: 100%;
    height: 100%;
}

/* Estilos objetos del FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#525252;
    color: whitesmoke;
    padding: 10px;
    font-size: 1.2em;
    position: relative;
    bottom: 0;
}

div.rrss_iconos > img {
    filter: invert(100%);
}
