/* Estilo body generales */
body{
    display: flex;
    flex-direction: column;
    background-color:white;
    color: black;
    font: 10px sans-serif;
    width: 100%;
    margin: 0px;
}

html {
    margin: 0px;
}

/* Estilos objetos del HEADER */
header {
    display: flex;
    align-items: center;
    background-color:#1e1d1d;
    color: whitesmoke;
    font-size: 4em;
}

header > h2, header > p {
    padding-right: 0.5em;
    margin: 10px 10px 10px 10px;
}

nav {
    display: flex;
    background-color:#00659d;
    font-size: 1.5em;
}

/* Estilos objetos de la barra de NAVEGACIÓN */
nav > div {
    padding: 1em;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bold;
}

nav > div:hover {
    background-color: #003152;
}

/* Estilos objetos de main en INICIO */

#inicio_content > div {
    display: flex;
}
#inicio_content > img {
    width: 100%;
}

#inicio_content > p {
    /* position: absolute; */
    top: 32%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    text-shadow: -3px 3px 5px black;
    font-size: 3em;
}

#inicio_content > p > b {
    font-size: 2em;
}

/* Estilos objetos de main en sobre NOSOTROS */
h3 {
    font-size: 1em;
    background-color: #c9d8e2;
    padding: 10px 10px 10px 10px;
    margin: 0px;
}
#nosotros_content > p, h4 {
    margin-left: 10px;
}
q {
    display: block;
    text-align: center;
    color: #00659d;
    font-weight: bold;
    font-size: 36px;
    font-style: italic;
    padding: 20px;
}

ol > div {
    display: flex;
    align-items: center;
    border: solid 1px;
}

ol > div > li {
    font-weight: bold;
    border: solid 1px;
}

ol > div > img {
    padding-right: 30px;
    border: solid 1px;
}

ol > dl {
    margin-left: 65px;
    border: solid 1px;
}

/* Estilos objetos de main en nuestros PRODUCTOS */
th, td {
    border: solid 1px;
    text-align: center;
    padding: 10px;
}

/* Estilos objetos de main en CONTACTO */

#contacto_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* FORMULARIO */
#div_form {
    background-color: #95b9cc;
    width: 100%;
    padding: 10px;
    border-style: hidden;
}

input, textarea {
    font-family: sans-serif;
    border: 0px;
    border-radius: 3px;
    padding: 5px;
    color: gray;
    width: 98%;
    margin: 5px;
}

#div_form > legend {
    font-weight: bold;
}

/* DIRECCION */
#div_direc {
    background-color: whitesmoke;
    width: 70%;
    height: 450px;
    padding: 10px;
}

#div_direc > img {
    width: 100%;
    max-height: 100%;
}

/* MAPA */
#div_map {
    background-color: whitesmoke;
    width: 25%;
    height: 450px;
    padding: 10px;
}

#div_map > iframe {
    width: 100%;
    height: 100%;
}

/* Estilos objetos del FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#525252;
    color: whitesmoke;
    padding: 10px;
    font-size: 1.2em;
    position: relative;
    bottom: 0;
}

div.rrss_iconos > img {
    filter: invert(100%);
}

/*Adaptación para */
@media only screen and (max-width:742px) {
    /*Añadir cambios para pantallas en general. */
    header {
        font-size: 3em;
    }
    
    nav {
        background-color: red;
        font-size: 1em;
    }

    #inicio_content > p {
        top: 26%;
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
        font-size: 2em;
    }
    
    #inicio_content > p > b {
        font-size: 1.5em;
    }
}

@media only screen and (min-device-width:320px) {
    /*Añadir cambios para dispositivos específicos, como por ejemplo movil. */
}