/* Estilos objetos de main en sobre NOSOTROS */

#nosotros_content {
    background-color: white; /* Fondo suave para contrastar */
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

/* Encabezados principales */
#nosotros_content h2 {
    color: #1E76BA;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
}

/* Estilo para citas */
#nosotros_content q {
    display: block;
    margin: 20px 0;
    padding: 10px;
    background: linear-gradient(135deg, #95b9cc, #00659d);
    color: #fff;
    font-size: 1.3rem;
    font-style: italic;
    border-radius: 5px;
    text-align: center;
}

/* Estilo de los párrafos */
#nosotros_content p {
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 0 15px;
}

/* Estilo de las listas no ordenadas */
#nosotros_content ul {
    list-style-type: none;
    padding: 0;
}

#nosotros_content li {
    font-size: 1rem;
    color: #555;
    margin: 15px 0;
    background-color: #f4f4f4;
    border-left: 5px solid #00659d;
    padding: 10px 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo de las listas ordenadas con iconos */
#nosotros_content ol {
    padding-left: 20px;
    margin-bottom: 30px;
}

#nosotros_content ol div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#nosotros_content ol li {
    font-size: 1.1rem;
    color: #1E76BA;
    margin-left: 10px;
    font-weight: bold;
    min-width: 300px;
}

#nosotros_content dl {
    font-size: 1rem;
    color: #666;
    margin-left: 20px;
    margin-top: 5px;
}

/* Estilo para las imágenes dentro de las listas ordenadas */
#nosotros_content ol img {
    margin-right: 15px;
}

/* Estilo adaptado para pantallas pequeñas */
@media (max-width: 768px) {
    #nosotros_content {
        padding: 20px 10px;
    }

    #nosotros_content h2 {
        font-size: 1.8rem;
    }

    #nosotros_content q {
        font-size: 1.2rem;
    }

    #nosotros_content li,
    #nosotros_content dl {
        font-size: 1rem;
    }
}
