/* Estilos objetos de main en nuestros PRODUCTOS */
main {
    display: flex;
    flex-direction: column;
    background-color: white; /* Fondo suave para contrastar */
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

/*Estilos en tabla*/
#div_tabla {
    text-align: left;
    margin: 20px;
}

table {
    width: calc(100% - 40px);
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 1.5em;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

caption {
    color: #1E76BA;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    text-transform: capitalize;
}

thead {
    background-color: #00659d;
    color: white;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: default;
}

tfoot td {
    font-size: 14px;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    padding: 15px;
    border-top: 2px solid #00659d;
}