/* Estilo body generales */
body{
    display: flex;
    flex-direction: column;
    background-color:white;
    color: black;
    font: 10px sans-serif;
    width: 100%;
    margin: 0px;
}

html {
    margin: 0px;
}

/* Estilos objetos del HEADER */
header {
    display: flex;
    align-items: center;
    background-color:#1e1d1d;
    color: whitesmoke;
    font-size: 4em;
}

header > h2, header > p {
    padding-right: 0.5em;
}

nav {
    display: flex;
    background-color:#00659d;
    font-size: 1.5em;
}

/* Estilos objetos de la barra de NAVEGACIÓN */
nav > div {
    padding: 1em;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bold;
}

nav > div:hover {
    background-color: #003152;
}

/* Estilos objetos de main en INICIO */
#unete_content {
    
}


/* Estilos objetos del FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#525252;
    color: whitesmoke;
    padding: 10px;
    font-size: 1.2em;
    position: relative;
    bottom: 0;
}

div.rrss_iconos > img {
    filter: invert(100%);
}
